*{margin: 0;   
padding: 0;   
box-sizing: border-box;   
outline: none;   
border: none;   
text-decoration: none;
}
body{
    width: 100%;
    height: 100vz;   
    background-color: rgb(223, 183, 124);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgb(43, 35, 35);
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

a{
    font-size: x-small;
}
.frase{
    color: aliceblue;
}
.frase:after{
    content:" 🐾"
}
.conteiner{
    width: 100%;
    height: 100vz;
    display: flex;
    flex-direction:column;
    
    padding: 50px;
    gap: 10px;
}
.img{
    padding: 10px;
    width: 25%;
    /*width: 150px;*/
    /*height: 50%;*/
    
}
.dogs{
    padding: 10px;
    width: 100%;
    display: flex;
    /*border: solid;*/
    flex-wrap: wrap;
}
.cats{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*border: solid;*/
    flex-wrap: wrap;
}

h1:hover{
    font-size: 50px ;
    color: rgb(178, 144, 210);
}
.nav{
    gap: 10px;
    display: flex;
    
}
a:hover{
    color: tomato;

}
img:hover{
    size: 50%;
}
.rodape{
    width: 100%;
    background-color:rgb(43, 35, 35) ;

}
h5{
    color: aliceblue;
}

@media(max-width:700px ){
    header{
        display: flex;
        flex-direction: column;
        background-color: lightsalmon;
        flex-wrap: wrap;
        height: 80px;
        width: 100%;
    }
    .top{
        display: flex;
        flex-direction: column;
        
    }
    .frase{
        text-align: center;
    }
    .nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
         
    }
    .img{
        width: 60%;
    }
    
    h1{ display:none;}
   
       a:hover{
        color: cornflowerblue;
    }
       
    .rodape{
        width: 100%;
        background-color:lightsalmon ;
    
    }
    
    h5{ 
       
        color: aliceblue;
    }
}


@media(max-width:350px ){
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: lightsalmon;
        flex-wrap: wrap;
        height: 80px;
    }
    .top{
        display: flex;
        flex-direction: column;
        
    }
    .frase{
        font-size: x-small;
        text-align: center;
    }
    .nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
         
    }

    h1{ display:none;}
   
       a:hover{
        color: cornflowerblue;
    }
       
    .rodape{
        width: 100%;
        background-color:lightsalmon ;
    
    }
    .conteiner{
        display: flex;
        flex-direction: column;
    }
    .dogs{
        display: flex;
        flex-direction: column;
    }
    .cats{
        display: flex;
        flex-direction: column;
        
    }
    .img{
        width: 100%;
    }
    h5{ 
       
        color: aliceblue;
    }
}


